a{display: block;}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  
}




ul {
  list-style: none;
}

p,h1,h2,h3,h4,h5,h6,ul,button {
  margin: 0;
  padding: 0;
  list-style: 0;
}

img {
  display: block;
  max-width: 100%;
    height: auto;
    width: 100%;
}